@{
    ViewData["Title"] = "Home Page";
}
@using Yeetegy.Common
@model IEnumerable<CategoryViewModel>
@*<div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="row">

    <div class="col-lg-3" style="margin-left: -0%;margin-top: 70px">

        <div class="list-group">
            <h2>Categorys</h2>


            @foreach (var globalCategories in GlobalConstants.ConstantCategories)
            {
                <a href="/@globalCategories.Key" alt="@globalCategories.Key">
                    <div class="chip list-group-item-action">
                        <img src="@globalCategories.Value" alt="Person" width="96" height="96">
                        <p class="text-white">@globalCategories.Key</p>
                    </div>
                </a>
            }

            @foreach (var categories in Model)
            {
                <a href="/@categories.Name" alt="@categories.Name">
                    <div class="chip list-group-item-action">
                        <img src="@categories.ImageUrl" alt="Person" width="96" height="96">
                        <p class="text-white">@categories.Name</p>
                    </div>
                </a>
            }
        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9" style="margin-top: 90px">

        <div class="row" id="PostContainer">

            <div class="col-lg-8 col-md-8" style="margin-bottom: 40px">
                <div class="card h-100">
                    <div class="card-header font-italic">
                        <h5>@this.ViewData["CategoryName"]</h5>
                    </div>
                    <img id="srcP" src="@this.ViewData["CategoryUrl"]" class="card-img-top" alt="...">
                </div>
            </div>

            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
</div>
<!-- /.row -->


@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

        $(document).ready(function () {
            DomOperation.call();
            $(window).on("scroll", getPosts);
        });


    </script>
}
