@{
    ViewData["Title"] = "Home Page";
}
@model CategorysViewModel
@*<div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="row">

    <div class="col-lg-3" style="margin-left: -0%;margin-top: 70px">

        <div class="list-group">
            <h2>Categorys</h2>
            <a href="/Newest" alt="/Newest">
                <div class="chip list-group-item-action">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FZqddpqbh6f0%2Fmaxresdefault.jpg&f=1&nofb=1" alt="Newest" width="96" height="96">
                    <p class="text-white">Newest</p>
                </div>
            </a>
            @foreach (var categorys in Model.CategoryViewModels)
            {
                <a href="/@categorys.Name" alt="@categorys.Name">
                    <div class="chip list-group-item-action">
                        <img src="@categorys.ImageUrl" alt="Person" width="96" height="96">
                        <p class="text-white">@categorys.Name</p>
                    </div>
                </a>
            }
        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9" style="margin-top: 90px">

        <div class="row" id="PostContainer">

            <div class="col-lg-8 col-md-8" style="margin-bottom: 40px">
                <div class="card h-100">
                    <div class="card-header font-italic">
                        <h5>@Model.CurrentName</h5>
                    </div>
                    <img id="srcP" src="@Model.CurrentUrl" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <button type="button" class="btn btn-dark fa fa-thumbs-up" style="width: 100px">4000</button>
                        <button type="button" class="btn btn-dark fa fa-thumbs-down" style="width: 100px">2000</button>
                        <button type="button" class="btn btn-dark fa fa-comment" style="width: 100px"></button>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 mb-8" style="margin-bottom: 40px">
                <div class="card h-100">
                    <div class="card-header font-italic">
                        <h5>Some quick example text to build on the card title and make up the bulk of the card's content.</h5>
                    </div>
                    <img src="https://res.cloudinary.com/cloudnameiscool/image/upload/v1582325201/b76224eb-76fe-4ed4-8ede-bcc5a087054f.gif" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <button type="button" class="btn btn-dark fa fa-thumbs-up" style="width: 100px">9252</button>
                        <button type="button" class="btn btn-dark fa fa-thumbs-down" style="width: 100px">125</button>
                        <button type="button" class="btn btn-dark fa fa-comment" style="width: 100px"></button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
</div>
<!-- /.row -->


@section Scripts {

    <script src="~/js/site.js" asp-append-version="true"></script>

}
