@{
    ViewData["Title"] = "Home Page";
}
@using Yeetegy.Common
@model IEnumerable<CategoryViewModel>
<div class="row">
    <div class="col-lg-3">
        <div id="catPos" class="position-fixed">
            <div id="catWid" class="list-group" style="margin-top: 60px; width: 220px">
                @foreach (var globalCategories in GlobalConstants.ConstantCategories)
                {
                    <a href="/@globalCategories.Key" alt="@globalCategories.Key">
                        <div class="chip list-group-item-action">
                            <img src="@globalCategories.Value" alt="Person" width="96" height="96">
                            <p class="text-white"><b>@globalCategories.Key</b></p>
                        </div>
                    </a>
                }
                @foreach (var categories in Model)
                {
                    <a href="/@categories.Name" alt="@categories.Name">
                        <div class="chip list-group-item-action">
                            <img src="@categories.ImageUrl" alt="Person" width="96" height="96">
                            <p class="text-white"><b>@categories.Name</b></p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9" style="margin-top: 60px;">

        <div class="row" id="PostContainer">
            <form id="voteform" method="post"></form>
            <div class="col-lg-8 col-md-12" style="margin-bottom: 30px">
                <div class="card h-100">
                    <div class="card-header font-italic">
                        <h5><b>@this.ViewData["CategoryName"]</b></h5>
                    </div>
                    <img id="srcP" src="@this.ViewData["CategoryUrl"]" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/general.js" asp-append-version="true"></script>
    <script>
        $(window).resize(function() {
            resizeCategory.call();
            //console.log(Math.max(document.documentElement.clientHeight, window.innerHeight || 0));
        });

        var myPageIndex = 0;
        var noMoredata = false;
        var inProgress = false;

        function DomOperation() {
            if (noMoredata === false && inProgress === false) {
                inProgress = true;
                fetch('@Url.Action("GetPosts","Posts")?page=' + myPageIndex + "&category=" +
                    location.pathname.split("/").pop(),
                    {
                        method: "GET",
                    }).then(response => {
                    if (response.status === 200) {
                        response.text().then(html => {
                            if (html.length < 10) {
                                noMoredata = true;
                            } else {
                            document.getElementById("PostContainer").innerHTML += html;

                            }
                        });
                        inProgress = false;
                        myPageIndex += @GlobalConstants.LoadPostCountAjax;
                    }
                });
            }
        }

        function getPosts() {
            var docHeight = $(document).height();
            var winScrolled = $(window).height() + $(window).scrollTop();
            if ((docHeight - winScrolled) < 400) { // scroll time
                DomOperation.call();
            }
        }

        $(document).ready(function() {
            DomOperation.call();
            resizeCategory.call();
            $(window).on("scroll", getPosts);
        });
    </script>
}
