@using Yeetegy.Common
@model IEnumerable<CategoryViewModel>

<div class="col-lg-3">
    <div id="catPos" class="position-fixed">
        <div id="catWid" class="list-group" style="margin-top: 60px; width: 220px;">
            @foreach (var globalCategories in GlobalConstants.ConstantCategories)
            {
                <a href="/@globalCategories.Key" alt="@globalCategories.Key">
                    <div class="chip list-group-item-action">
                        <img src="@globalCategories.Value" alt="Person" width="96" height="96">
                        <p class="text-white"><b>@globalCategories.Key</b></p>
                    </div>
                </a>
            }
            @foreach (var categories in Model)
            {
                <a href="/@categories.Name" alt="@categories.Name">
                    <div class="chip list-group-item-action">
                        <img src="@categories.ImageUrl" alt="Person" width="96" height="96">
                        <p class="text-white"><b>@categories.Name</b></p>
                    </div>
                </a>
            }
        </div>
    </div>
</div>