@using Yeetegy.Common

@{
    ViewData["Title"] = "PostDetails";
}
@model PostDetailsViewModel

<div class="row">

    <div class="col-lg-3">

        <div class="list-group" style="margin-top: 60px">
            <h2>Categorys</h2>


            @foreach (var globalCategories in GlobalConstants.ConstantCategories)
            {
                <a href="/@globalCategories.Key" alt="@globalCategories.Key">
                    <div class="chip list-group-item-action">
                        <img src="@globalCategories.Value" alt="Person" width="96" height="96">
                        <p class="text-white">@globalCategories.Key</p>
                    </div>
                </a>
            }

            @foreach (var categories in Model.CategoryViewModel)
            {
                <a href="/@categories.Name" alt="@categories.Name">
                    <div class="chip list-group-item-action">
                        <img src="@categories.ImageUrl" alt="Person" width="96" height="96">
                        <p class="text-white">@categories.Name</p>
                    </div>
                </a>
            }
        </div>

    </div>

    <div class="col-lg-9" style="margin-top: 90px">

        <div class="row" id="PostContainer">

            <div class="col-lg-8 col-md-8" style="margin-bottom: 40px">
                <div class="card h-100">
                    <div class="card-header font-italic">
                        <h5>@Model.PostViewModel.Tittle</h5>
                    </div>
                    <img id="srcP" src="@Model.PostViewModel.ImgUrl" class="card-img-top" alt="image">
                    <div class="card-footer">
                        <button type="button" onClick="voteButton()" id="Like_@Model.PostViewModel.Id" class="btn btn-dark fa fa-thumbs-up" style="width: 246px">@Model.PostViewModel.Likes</button>
                        <button type="button" onClick="voteButton()" id="Dislike_@Model.PostViewModel.Id" class="btn btn-dark fa fa-thumbs-down" style="width: 246px">@Model.PostViewModel.Dislikes</button>
                    </div>
                </div>

                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
    </div>
</div>
