@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Routing
@using Yeetegy.Common
@using Yeetegy.Data.Models
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "PostDetails";
    var avatar = this.UserManager.Users.Where(x => x.UserName == User.Identity.Name).Select(x => x.AvatarUrl).FirstOrDefault();
    if (avatar == null)
    {
        avatar = GlobalConstants.DefaltUserImg;
    }
}
@model Yeetegy.Web.ViewModels.PostViewModels.PostDetailsViewModel
<p type="hidden" id="postId" value="@Model.PostViewModel.Id"></p>
<p type="hidden" id="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"></p>
<div class="row">
    <div class="col-lg-3">
        <div id="catPos" class="position-fixed">
            <div id="catWid" class="list-group" style="margin-top: 60px; width: 220px">
                @foreach (var globalCategories in GlobalConstants.ConstantCategories)
                {
                    <a href="/@globalCategories.Key" alt="@globalCategories.Key">
                        <div class="chip list-group-item-action">
                            <img src="@globalCategories.Value" alt="Person" width="96" height="96">
                            <p class="text-white"><b>@globalCategories.Key</b></p>
                        </div>
                    </a>
                }
                @foreach (var categories in Model.CategoryViewModel)
                {
                    <a href="/@categories.Name" alt="@categories.Name">
                        <div class="chip list-group-item-action">
                            <img src="@categories.ImageUrl" alt="Person" width="96" height="96">
                            <p class="text-white"><b>@categories.Name</b></p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9" style="margin-top: 25px;">
        <div>
            <form id="voteform" method="post"></form>
            <div class="col-lg-8 col-md-12" style="margin-bottom: 30px">
                <h5>
                    <span class="badge badge-light">@Model.PostViewModel.Time</span>
                </h5>
                <div class="card h-100">
                    <div class="card-header font-italic">
                        <h5><b>@Model.PostViewModel.Tittle</b></h5>
                    </div>
                    <img id="srcP" src="@Model.PostViewModel.ImgUrl" class="card-img-top" alt="image">
                    <div class="card-footer">
                        <button type="button" onClick="voteButton()" id="Post_Like_@Model.PostViewModel.Id" class="btn btn-dark fa fa-thumbs-up" style="width: 150px">@Model.PostViewModel.Likes</button>
                        <button type="button" onClick="voteButton()" id="Post_Dislike_@Model.PostViewModel.Id" class="btn btn-dark fa fa-thumbs-down" style="width: 150px">@Model.PostViewModel.Dislikes</button>
                    </div>
                </div>
                <hr style="border-top: 2px solid #043927;">
                <div class="row">
                    <div style="width: 14%;">
                        <img id="avatarUrl" style="display: block; margin: 0 auto; border-radius: 50%;" width="50" height="50" src="@avatar" />
                    </div>
                    <div style="width: 83%; float: right;">
                        <div class="spinner-border text-success" id="commentSpinner" hidden role="status">
                            <span class="sr-only"></span>
                        </div>
                        <span class="badge badge-pill" id="commentError"></span>
                        <textarea placeholder="Enter your comment here..." id="commentDescription" class="form-control" style="resize: none; width: 100%"></textarea>
                        <div style="width: 100%; height: 41px; margin-top: 1px">
                            <label>
                                <span class="btn btn-warning">
                                    Add IMG… <input type="file" class="custom-file-input" style="display: none;" id="commentFileInput">
                                </span>
                            </label>
                            <button class="btn btn-warning" onclick="addComment()" style="float: right">Post</button>
                            <button class="btn btn-light" onclick="clearComment()" style="float: right">Clear</button>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 2px solid #043927;margin-top: 13px">
                <div id="Comment-Container">
                    @*<div class="row">
                        <div style="width: 14%;margin-right: 7px">
                            <img style="display: block; margin: 0 auto; border-radius: 50%;" width="50" height="50" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc2.staticflickr.com%2F2%2F1386%2F791791681_ecc5efac79_b.jpg&f=1&nofb=1" />
                        </div>
                        <div style="width: 83%; float: right;">
                            <div style="width: 100%; word-wrap: break-word;" class="row">
                                <div style="width: 97%; float: left">
                                    <a style="font-weight: bold;">Username</a>
                                    <h9><span class="badge badge-light">5h</span></h9><br>
                                    <a>testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</a>
                                    <span>
                                        <img style="width: 100%" src="https://media.giphy.com/media/8Z30gVRYNEeEUQf8z7/giphy.gif" alt=" ">
                                    </span>
                                </div>
                                <div class="dropdown" style="width: 3%;">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: -15px">
                                <a onclick="testfun()"><b>Replay</b></a>
                                <span style="margin-left: 7px"></span>
                                <a onclick="testfun()" class="fa fa-thumbs-up">10</a>
                                <span style="margin-left: 7px"></span>
                                <a onclick="testfun()" class="fa fa-thumbs-down">10</a><br>
                                <a style="font-weight: bold;">View 5 Replays</a>
                                <div id="Replay-Container">
                                    <hr>
                                    <div class="row">
                                        <div style="width: 14%; margin-right: 7px">
                                            <img style="display: block; margin: 0 auto; border-radius: 50%;" width="40" height="40" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc2.staticflickr.com%2F2%2F1386%2F791791681_ecc5efac79_b.jpg&f=1&nofb=1" />
                                        </div>
                                        <div style="width: 83%; float: right;">
                                            <div style="width: 100%; word-wrap: break-word;" class="row">
                                                <div style="width: 97%; float: left">
                                                    <a style="font-weight: bold;">Username</a>
                                                    <h9><span class="badge badge-light">5h</span></h9><br>
                                                    <a>tttesttesttesttesttesttest</a>
                                                    <span>
                                                        <img style="width: 100%" src="https://media.giphy.com/media/8Z30gVRYNEeEUQf8z7/giphy.gif" alt=" ">
                                                    </span>
                                                </div>
                                                <div class="dropdown" style="width: 3%;">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-left: -15px">
                                                <a onclick="testfun()" class="fa fa-thumbs-up">10</a>
                                                <span style="margin-left: 7px"></span>
                                                <a onclick="testfun()" class="fa fa-thumbs-down">10</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
@section Scripts {
    <script src="~/js/general.js" asp-append-version="true"></script>
    <script src="~/js/comments.js"></script>
    <script>

        var deleteInProgress = false;
        function deleteComment() { // ajax
            var commentId = event.target.getAttribute("id");
            var token = $("#voteform input[name=__RequestVerificationToken]").val();
            var deleteUrl = "@Url.Action("Delete","Comments")";

            var obj = new FormData();
            obj.set("id",commentId);
            if (deleteInProgress === false) {
                deleteInProgress = true;
                fetch(deleteUrl,
                    {
                        method: 'DELETE',
                        headers: {
                            'X-CSRF-TOKEN': token
                        },
                        body: obj
                    }).then(response => {
                    if (response.status === 200) {
                        $("#CommentId_" + commentId).remove();
                    }
                    deleteInProgress = false;
                });
            }
    
        }

        function loadReplays() { // ajax
            var commentId = event.target.getAttribute("id").split('_')[1];
            $("#LoadReplays_" + commentId).remove();
            fetch("@Url.Action("Get","Replays")?commentId=" + commentId,
                {
                    method: "GET"
                }).then(response => {
                if (response.status === 200) {
                    response.text().then(html => {
                        //$("#Comment_" + commentId).remove();
                        $("#Replay-Container_" + commentId).append(html);
                    });
                }
            });
        }

        var myPageIndex = 0;
        var noMoredata = false;
        var inProgress = false;
        var postid = "@Model.PostViewModel.Id";
        function domOperationComments() { // ajax
            if (noMoredata === false && inProgress === false) {
                inProgress = true;
                fetch('@Url.Action("Get","Comments")?postId=' + postid + '&offset=' + myPageIndex,
                    {
                        method: "GET",
                    }).then(response => {
                    if (response.status === 200) {
                        response.text().then(html => {
                            if (html.length < 10) {
                                noMoredata = true;
                            } else {
                                document.getElementById("Comment-Container").innerHTML += html;
                            }
                        });
                        inProgress = false;
                        myPageIndex += @GlobalConstants.LoadCommentsCountAjax;
                    }
                });
            }
        }

        function loadComments() {
            var docHeight = $(document).height();
            var winScrolled = $(window).height() + $(window).scrollTop();
            if ((docHeight - winScrolled) < 200) { // scroll time 
                domOperationComments.call();
            }
        }

        $(window).resize(function() {
            resizeCategory.call();
        });
        $(document).ready(function() {
            resizeCategory.call();
            domOperationComments.call();
            $(window).on("scroll", loadComments);
        });
    </script>
}
